.container {
    height: auto;
    max-width: 750px;
    margin: 60px auto;
    padding: 20px;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
    color: white;
  }
  
  textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    font-size: 16px;
    border-radius: 25px;
    border: 1px solid #ccc;
    resize: vertical;
    margin-bottom: 15px;
    background: transparent;
    color: white;
  }
  
  select {
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    margin: 20px;
    border-radius: 30px;
    border: 1px solid #999;
    background: transparent;
    color: #00b907;
    width: 150px;
  }
  
  button {
    padding: 10px 20px;
    margin: 8px;
    font-size: 15px;
    /* border: none; */
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.3s;
    background: transparent;
    border: 1px solid white;
    color: white;
    margin-bottom: 20px;

  }
  
  button:hover {
    background-color: rgb(105, 117, 101);
    opacity: 0.9;
  }
  
  .enhance-btn {
    background-color: transparent;
    color: white;
  }
  
  .translate-btn {
    background-color: transparent;
    color: white;
  }
  
  button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  
  .container p {
    /* background-color: #f7f7f7; */
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
    white-space: pre-wrap;
    /* text-align: left; */
  }
  
  h2 {
    margin-top: 25px;
    margin-bottom: 10px;
    color: #444;
    text-align: left;
  }
  
  /* Responsive Styling */
  @media (max-width: 600px) {
    .container {
      height: auto;
      padding: 15px;
      margin-top: 15px;
    }
  
    textarea {
      height: 75px;
      width: 275px;
    }
  
    button,
    select {
      width: 90%;
      margin: 10px 0;
    }
  
    p {
      font-size: 14px;
    }
    h2{
      font-size: 18px;
    }
  }
  
